<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome!</h1>
      <p>List of available puppies to choose from.</p>

      <p><a href="">Click Here to List A Puppy</a></p>

    </form>

  </body>
</html>
