<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to the Puppy Adoption Site!</h1>
      <a href="/new"> "Click Here to List A Puppy"  </a>
  </body>
</html>
